<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Counter</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/404.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>Follow</display-name>
    <servlet-name>Follow</servlet-name>
    <servlet-class>uk.ac.dundee.computing.benjgorman.twitzer.Follow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Follow</servlet-name>
    <url-pattern>/Follow</url-pattern>
    <url-pattern>/Follow/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Unfollow</display-name>
    <servlet-name>Unfollow</servlet-name>
    <servlet-class>uk.ac.dundee.computing.benjgorman.twitzer.Unfollow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Unfollow</servlet-name>
    <url-pattern>/Unfollow</url-pattern>
    <url-pattern>/Unfollow/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RenderJson</display-name>
    <servlet-name>RenderJson</servlet-name>
    <servlet-class>uk.ac.dundee.computing.benjgorman.twitzer.RenderJson</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RenderJson</servlet-name>
    <url-pattern>/RenderJson</url-pattern>
    <url-pattern>/RenderJson/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>uk.ac.dundee.computing.benjgorman.twitzer.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
    <url-pattern>/Login/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Author</display-name>
    <servlet-name>Author</servlet-name>
    <servlet-class>uk.ac.dundee.computing.benjgorman.twitzer.Author</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Author</servlet-name>
    <url-pattern>/Author</url-pattern>
    <url-pattern>/Author/*</url-pattern>
  </servlet-mapping>
</web-app>